@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  transition: background-color 0.5s ease;
}

.light {
  background-color: #ffffff;
}

.dark {
  background-color: #121212;
}

span,
.primary-color {
  background-image: linear-gradient(to right, #FFDD8B, #F0C27B);
  -webkit-background-clip: text;
  color: transparent;
}

.bg-primary-color {
  background-image: linear-gradient(to right, #FFDD8B, #F0C27B);
}

.flex {
  display: flex;
}

.transition-transform {
  transition: transform 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s forwards;
}
